body {
    margin: 0 auto;
    font-family: Tahoma, Verdana, sans-serif;
}

#items-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#request-form {
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

.banner-img {
    height: 2.5rem;
    object-fit: contain;
}

header {
    background-color: #6B99E5;
}

.hidden {
    display: none;
}

.modal {
    color: white;
    width: 85%;
    border-radius: 5px;
    text-align: center;
    padding: 5px 0;
    margin: 0 auto;
    background-color: #6B99E5;
}

#form-item-name, #form-comments, #form-item-email {
    width: 150px;
}

#form-comments {
    height: 70px;
}

#submit-btn {
    font-size: 1rem;
    color: white;
    background-color: #6B99E5;
    border-radius: 4px;
    padding: 5px 10px;
    border: 0;
}

.item-image {
    width: 350px;
    height: 250px;
    margin: 0 auto;
    object-fit: contain;
}

.item {
    margin: 1rem;
    text-align: center;
}

.num-cont {
    display: block;
    margin: 1em;
}

.img-btns {
    text-align: center;
    margin: 0 auto;
}

.img-btn {
    touch-action: manipulation;
    margin: 0 10px;
    width: 3rem;
    font-size: 0.9rem;
    color: white;
    background-color: #6B99E5;
    border-radius: 4px;
    border: 0;
}

.img-num {
    margin: 5px;
}
.request-btn {
    margin: 0 auto;
    border: 0;
    color: white;
    border-radius: 4px;
    background-color: #6B99E5;
    font-size: 1rem;
    width: 100%;
    padding: 0.7rem;
}


#intro h1, .item-name {
    text-align: center;
    color: #6B99E5;
}

@media (max-width: 500px) {
    .content {
        width: 90%;
        padding: 10px;
    }
}

@media (min-width: 500px) {
    .content {
        width: 80%;
        margin: 0 auto;
    }
} 
